<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 1440px; height: 159px; left: 0px; top: 0px; position: absolute; background: rgba(155.34, 225.10, 255, 0.63)"></div>
    <div style="left: 1087px; top: 255px; position: absolute; text-align: center; color: #0229B1; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">График занятости</div>
    <div style="left: 1131px; top: 356px; position: absolute; text-align: center; color: #0229B1; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">База знаний</div>
    <div style="left: 68px; top: 356px; position: absolute; text-align: center; color: #0229B1; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Редактирование базы знаний</div>
    <div style="left: 144px; top: 255px; position: absolute; text-align: center; color: #0229B1; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Просмотр графиков</div>
    <div style="left: 1185px; top: 100px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Отметиться!</div>
</div>

</body>
</html>