<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="left: 118px; top: 895px; position: absolute; text-align: center; color: #0229B1; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">График за месяц</div>
    <div style="left: 118px; top: 194px; position: absolute; text-align: center; color: #0229B1; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">На главную</div>
    <div style="width: 1440px; height: 159px; left: 0px; top: 716px; position: absolute; background: rgba(155.34, 225.10, 255, 0.63)"></div>
    <div style="width: 1440px; height: 75px; left: 0px; top: 758px; position: absolute; background: linear-gradient(0deg, #EAEAEA 0%, #EAEAEA 100%), linear-gradient(0deg, #EAEAEA 0%, #EAEAEA 100%)"></div>
    <div style="width: 540px; height: 75px; left: 480px; top: 758px; position: absolute; background: linear-gradient(0deg, #EAEAEA 0%, #EAEAEA 100%), linear-gradient(0deg, #6AF878 0%, #6AF878 100%)"></div>
    <div style="width: 120px; height: 37px; left: 780px; top: 796px; position: absolute; background: linear-gradient(0deg, #EAEAEA 0%, #EAEAEA 100%), linear-gradient(0deg, #EEF973 0%, #EEF973 100%)"></div>
    <div style="width: 90px; height: 37px; left: 644px; top: 758px; position: absolute; background: linear-gradient(0deg, #EAEAEA 0%, #EAEAEA 100%), linear-gradient(0deg, #F86A6A 0%, #F86A6A 100%)"></div>
    <div style="width: 1440px; height: 159px; left: 0px; top: 0px; position: absolute; background: rgba(155.34, 225.10, 255, 0.63)"></div>
    <div style="left: 1160px; top: 94px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Отметиться!</div>
</div>

</body>
</html>